html {
	cursor: auto;
}

@font-face {
	font-family: baseBallFont;
	src: url(../fonts/baseball.ttf);
}

body {
	background-color: #000000;
	color: #fff;
	margin: 0px;
	overflow: hidden;
}

.logo {
	font-family: baseBallFont;
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 1.5em;
}

.btn-container {
	display: table-cell;
	vertical-align: middle;
	position: absolute;
	bottom: 30px;
	left: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

.btn-container .btn {
	margin-top: 10px;
	text-align: center;
	cursor: pointer;
	line-height: 40px;
	position: relative;
	overflow: hidden;
	width: 160px;
	margin-right: 15px;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	height: 40px;
	border: 2px solid white;
	display: block;
	color: white;
	font-size: 1.6em;
	font-weight: 600;
	margin-top: 20px;
	border-radius: 2px;
	margin: 0 auto;
	color: #fff;
	transition-property: color;
	-webkit-transition-property: color;
	transition-duration: 0.2s;
	webkit-transition-duration: 0.2s;
	letter-spacing: .1em;
}

.btn .slider {
	background: white;
	width: 180px;
	height: 45px;
	position: absolute;
	display: block;
	z-index: 0;
	transform: skew(30deg);
	-webkit-transform: skew(30deg);
	left: -200px;
	-webkit-transition: transform 0.3;
	transition: transform 0.3;
	transition-duration: .2s;
	-webkit-transition-duration: .5s;
}

.btn .label {
	position: relative;
	z-index: 1;
}

.btn:hover>.slider {
	transform: translateX(190px);
	-webkit-transform: translateX(190px);
	-webkit-transition-property: transform;
	transition-property: transform;
	transition-duration: .4s;
	-webkit-transition-duration: .4s;
}

.btn:hover {
	color: #31312f;
	transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
}
